/*

*/



.r-b {
    border-radius: 0 0 2px 2px;
}

.m-xxs {
    margin: 2px 4px;
}

.m-xs {
    margin: 5px;
}

.m-sm {
    margin: 10px;
}

.m {
    margin: 15px;
}

.m-md {
    margin: 20px;
}

.m-lg {
    margin: 30px;
}

.m-xl {
    margin: 50px;
}

.m-n {
    margin: 0 !important;
}

.m-l-none {
    margin-left: 0 !important;
}

.m-l-xs {
    margin-left: 5px;
}

.m-l-sm {
    margin-left: 10px;
}

.m-l {
    margin-left: 15px;
}

.m-l-md {
    margin-left: 20px;
}

.m-l-lg {
    margin-left: 30px;
}

.m-l-xl {
    margin-left: 40px;
}

.m-l-xxl {
    margin-left: 50px;
}

.m-l-n-xxs {
    margin-left: -1px;
}

.m-l-n-xs {
    margin-left: -5px;
}

.m-l-n-sm {
    margin-left: -10px;
}

.m-l-n {
    margin-left: -15px;
}

.m-l-n-md {
    margin-left: -20px;
}

.m-l-n-lg {
    margin-left: -30px;
}

.m-l-n-xl {
    margin-left: -40px;
}

.m-l-n-xxl {
    margin-left: -50px;
}

.m-t-none {
    margin-top: 0 !important;
}

.m-t-xxs {
    margin-top: 1px;
}

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t {
    margin-top: 15px;
}

.m-t-md {
    margin-top: 20px;
}

.m-t-lg {
    margin-top: 30px;
}

.m-t-xl {
    margin-top: 40px;
}

.m-t-xxl {
    margin-top: 50px;
}

.m-t-n-xxs {
    margin-top: -1px;
}

.m-t-n-xs {
    margin-top: -5px;
}

.m-t-n-sm {
    margin-top: -10px;
}

.m-t-n {
    margin-top: -15px;
}

.m-t-n-md {
    margin-top: -20px;
}

.m-t-n-lg {
    margin-top: -30px;
}

.m-t-n-xl {
    margin-top: -40px;
}

.m-t-n-xxl {
    margin-top: -50px;
}

.m-r-none {
    margin-right: 0 !important;
}

.m-r-xxs {
    margin-right: 1px;
}

.m-r-xs {
    margin-right: 5px;
}

.m-r-sm {
    margin-right: 10px;
}

.m-r {
    margin-right: 15px;
}

.m-r-md {
    margin-right: 20px;
}

.m-r-lg {
    margin-right: 30px;
}




/*

        Creating a sprite from following images:

        app/assets/images/sprites/social-share-button/baidu.png (16x16)
        app/assets/images/sprites/social-share-button/delicious.png (16x16)
        app/assets/images/sprites/social-share-button/douban.png (16x16)
        app/assets/images/sprites/social-share-button/email.png (16x16)
        app/assets/images/sprites/social-share-button/facebook.png (16x16)
        app/assets/images/sprites/social-share-button/flickr.png (16x16)
        app/assets/images/sprites/social-share-button/google_bookmark.png (16x16)
        app/assets/images/sprites/social-share-button/google_plus.png (16x16)
        app/assets/images/sprites/social-share-button/kaixin001.png (16x16)
        app/assets/images/sprites/social-share-button/pinterest.png (16x16)
        app/assets/images/sprites/social-share-button/plurk.png (16x16)
        app/assets/images/sprites/social-share-button/qq.png (16x16)
        app/assets/images/sprites/social-share-button/renren.png (16x16)
        app/assets/images/sprites/social-share-button/tqq.png (16x16)
        app/assets/images/sprites/social-share-button/tumblr.png (16x16)
        app/assets/images/sprites/social-share-button/twitter.png (16x16)
        app/assets/images/sprites/social-share-button/weibo.png (16x16)

        Output files:
          app/assets/images/sprites/social-share-button.png
          app/assets/stylesheets/social-share-button.scss

        Output size:
          80x64








/* line 48, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#main {
    margin: 20px auto;
}

/* line 52, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
footer {
    width: 100%;
    padding: 30px 0 15px 0;
    background: #2A2F35;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    vertical-align: baseline;
}
/* line 63, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
footer .qrcode {
    display: none;
    max-width: 124px;
    position: fixed;
    right: 15px;
    top: 80px;
    text-align: center;
    color: #333;
}
/* line 72, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
footer .qrcode img {
    max-width: 100%;
}
/* line 74, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
footer a {
    color: #FFF;
}
/* line 76, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
footer a:visited {
    color: #FFF;
}
/* line 77, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
footer a:hover, footer a:active {
    color: #FFF;
    border-bottom: 1px solid #FFF;
}

/* line 85, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.welcome_index footer .qrcode {
    display: none;
    color: #FFF;
}


/* line 159, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.banner img {
    width: 100%;
    padding: 0;
}

/* line 165, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#notice-wrapper,
#alert-wrapper {
    margin-top: 10px;
    padding: 0;
}

/* line 171, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#notice {
    margin-bottom: 0;
}

/* line 173, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.banner {
    margin-bottom: 15px;
}

/* line 177, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.subscribe-banner {
    height: auto;
    margin: 15px 0;
    overflow: hidden;
    line-height: 30px;
}

/* line 184, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.daily {
    margin-bottom: 30px;
}
/* line 187, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.daily h3.date {
    padding: 10px;
    color: #25bb9b;
    border-bottom: 2px solid #25bb9b;
    font-weight: 600;
    font-size: 20px;
}
/* line 188, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.daily h3.date small {
    color: #063642;
}
/* line 191, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.daily .posts {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* line 199, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.login-actions {
    margin: 15px;
    text-align: center;
}

/* line 206, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.welcome_app_download footer .qrcode {
    display: none;
}
/* line 208, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.welcome_app_download #quick-download {
    display: none;
}

/* line 210, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.hero {
    width: 100%;
    max-height: 565px;
    overflow: hidden;
    margin-top: -20px;
    padding-top: 35px;
    background-image: url("http://7rf34y.com2.z0.glb.qiniucdn.com/hero.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 1px solid rgba(6, 54, 66, 0.9);
}
/* line 225, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.hero img {
    max-width: 432px;
}
/* line 227, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.hero .handheld {
    text-align: right;
}
/* line 228, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.hero .intro {
    margin-left: 50px;
}
/* line 230, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.hero .intro .title {
    margin: 90px 0 50px 0;
    color: #FFF;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.4);
}
/* line 237, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.hero .app-qrcode {
    max-width: 135px;
}
/* line 241, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.hero .buttons {
    margin-left: 30px;
}
/* line 243, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.hero .buttons .btn {
    width: 150px;
    margin-bottom: 35px;
}

@media (min-width: 320px) and (max-width: 479px) {
    /* line 248, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
    .hero {
        display: none;
    }

    /* line 249, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
    .hero .handheld {
        text-align: center;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    /* line 252, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
    .hero .handheld {
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* line 255, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
    .hero .handheld {
        text-align: center;
    }
}
/* line 258, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.feedback {
    margin-bottom: 50px;
}
/* line 260, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.feedback ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* line 265, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.feedback ul blockquote {
    border-left: none;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 15px;
}
/* line 271, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.feedback ul blockquote p {
    margin-bottom: 5px;
}

/* line 276, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#weixin-mask {
    width: 100%;
    padding-top: 75px;
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("http://7rf34y.com2.z0.glb.qiniucdn.com/hero.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #EFEFEF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}
/* line 295, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#weixin-mask .open-tips {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    padding: 5px 18px;
    background: rgba(0, 0, 0, 0.5);
}
/* line 303, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#weixin-mask .open-tips h3 {
    margin: 0;
    padding: 0;
    line-height: 60px;
    background: transparent url(/assets/arrow-4b4e930397331b3f7af7fe1d5c311eb1.png) top right no-repeat;
    -webkit-background-size: 60px;
    -moz-background-size: 60px;
    -o-background-size: 60px;
    background-size: 60px;
}
/* line 315, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#weixin-mask .applogo {
    height: 60px;
    margin: 20px;
}
/* line 321, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#weixin-mask .title {
    margin: 30px;
}
/* line 325, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#weixin-mask img {
    max-width: 150px;
}

/* ------------------------------------------- */
/* line 329, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.comments {
    margin: 20px 0;
}
/* line 331, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.comments .media {
    margin: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
}
/* line 333, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.comments .media h4 {
    font-size: 14px;
}
/* line 339, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.comments .media .media-left img {
    width: 50px;
    height: 50px;
}
/* line 345, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.comments .media:last-child {
    border-bottom: none;
}

/* line 351, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.social-share-button {
    margin: 20px 0;
}

/* line 355, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.weixin-qrcode-dropdown {
    display: inline-block;
}
/* line 358, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.weixin-qrcode-dropdown .weixin-qrcode-dropdown-menu {
    min-width: 122px;
    line-height: 16px;
    padding: 5px;
    text-align: center;
    top: 110%;
    left: -76px;
}
/* line 367, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.weixin-qrcode-dropdown .weixin-qrcode-img img {
    width: 132px;
}

/* line 372, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.help-modal {
    margin: 0;
    position: fixed;
    border-radius: 0;
    text-align: center;
    z-index: 99;
}
/* line 379, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.help-modal.help-modal-footer {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    text-align: left;
}

/* line 392, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.help-modal-footer span.logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/assets/logo-cf19f42eba7cd98c38a46a158aef1cd5.png) no-repeat;
    vertical-align: middle;
}
/* line 399, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.help-modal-footer .btn {
    margin-top: 10px;
    vertical-align: middle;
}

/* line 406, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #333;
    opacity: .5;
    z-index: 2;
    display: none;
}

/* line 418, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.share-help {
    display: none;
}

/* line 424, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.settings-page .subscribe label {
    font-weight: normal;
}
/* line 426, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.settings-page .user-avatar-wrap {
    margin-bottom: 30px;
    text-align: center;
}
/* line 431, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.settings-page .user-avatar {
    width: 80px;
    height: 80px;
    background: transparent url(/assets/avatar-2-alpha-d77a05e3e5a9f5e132f06561a8909f88.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    vertical-align: bottom;
}
/* line 442, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.settings-page .avatar-field {
    display: inline-block;
}

/* line 448, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.subject-page .subject-cover {
    vertical-align: bottom;
}
/* line 449, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.subject-page .cover-field {
    display: inline-block;
}

/* line 452, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.like-users {
    margin: 20px 10px;
    text-align: left;
}
/* line 455, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.like-users ul {
    margin-left: 0;
}
/* line 456, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.like-users li {
    padding-left: 2px;
    padding-right: 2px;
}
/* line 457, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.like-users a {
    display: inline-block;
    width: 32px;
    overflow: hidden;
}
/* line 458, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.like-users img {
    width: 32px;
    height: 32px;
}

/* line 463, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.gift {
    max-width: 210px;
    margin-bottom: 25px;
}
/* line 467, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.gift .cover {
    display: inline-block;
    min-height: 280px;
}
/* line 471, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.gift .cover img {
    width: 100%;
}
/* line 474, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.gift h5 {
    padding: 0;
}

/* line 481, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.post-type-radios:first-child {
    margin-bottom: 5px;
}
/* line 483, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.post-type-radios .radio {
    display: inline-block;
    margin-right: 8px;
}
/* line 485, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.post-type-radios .radio input[type=radio] {
    position: static;
}
/* line 489, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.post-type-radios .form-control {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 2px;
}
/* line 496, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.post-type-radios p.help-block {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 12px;
    color: #58666e;
}

/* line 508, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#quick-download {
    display: none;
    width: 100%;
    padding: 5px;
    position: fixed;
    bottom: 0;
    background: #f3f3f8;
}
/* line 516, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#quick-download .close-link {
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    line-height: 24px;
    margin-top: 8px;
    padding: 0;
    text-align: center;
    color: #bdbdd1;
}
/* line 528, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#quick-download .download-link {
    display: block;
    height: 50px;
    margin-left: 30px;
    padding: 5px 0 0 55px;
    background: url(/assets/logo-blue-67e531bf6ddf8780eeaa252f03bebfeb.png) no-repeat left center;
    background-size: 46px 46px;
    text-decoration: none;
    color: #666;
    position: relative;
}
/* line 539, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#quick-download .download-link h3 {
    margin: 3px 0 2px 0;
    font-size: 16px;
    font-weight: 100;
    opacity: 0.8;
}
/* line 540, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#quick-download .download-link h4 {
    margin: 0;
    font-size: 12px;
    font-weight: 100;
    opacity: 0.5;
}
/* line 542, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#quick-download .download-link .btn {
    position: absolute;
    right: 0;
    top: 10px;
}

/* line 550, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#quick-download-app-modal {
    top: 50%;
    margin-top: -100px;
}
/* line 554, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#quick-download-app-modal .modal-footer {
    text-align: center;
    padding: 0;
    border: none;
}
/* line 559, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#quick-download-app-modal .modal-footer .btn {
    padding: 15px;
    border: none;
    border-top: 1px solid #e5e5e5;
}

/* line 569, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.follows .media {
    margin: 20px 0 35px 0;
}
/* line 572, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.follows .media-body {
    width: 100%;
}
/* line 573, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.follows .media-heading {
    line-height: 20px;
}
/* line 575, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.follows .media-heading small {
    display: inline-block;
    margin-left: 10px;
    line-height: 20px;
}

/* line 581, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.subjects {
    margin: 0;
    padding: 0 5px;
}
/* line 585, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.subjects li {
    padding-bottom: 10px;
    list-style: none;
    border-bottom: 1px dashed #EFEFEF;
}
/* line 590, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.subjects li:last-child {
    border-bottom: none;
}
/* line 592, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.subjects li small a,
.subjects li .meta,
.subjects li .meta a {
    color: #999;
}
/* line 596, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.subjects li .meta a {
    border-bottom: 1px solid #CCC;
}
/* line 601, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.subjects li .meta span {
    display: inline-block;
    margin-right: 10px;
}

/* line 607, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.user-info .social-share-button {
    margin: 15px 0;
}

/* line 613, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.app-iphone {
    float: right;
    width: 364px;
    height: 555px;
    overflow: hidden;
    padding-top: 83px;
    padding-left: 22px;
    background: url(../images/res/app-iphone-frame.png) no-repeat 0 0;
    position: relative;
    top: -25px;
}
/* line 624, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.app-iphone .slide {
    width: 320px;
    height: 472px;
}
/* line 627, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.app-iphone .slide .item {
    height: 472px;
}
/* line 630, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.app-iphone .slide .item img {
    width: 320px;
    height: 569px;
}
/* line 635, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.app-iphone .slide .item .carousel-caption {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    bottom: 0;
    left: 0;
    right: 0;
}

/* line 647, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.posts-favorites {
    margin-top: 65px;
}

/* line 650, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
.posts-subscriptions {
    margin-top: 35px;
}

/* line 654, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/application.scss */
#install-chrome-extension {
    display: none;
}
@media (min-width: 320px) and (max-width: 479px) {
    /* line 2, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    #quick-download {
        display: block;
    }

    /* line 4, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .tooltip {
        display: none !important;
    }

    /* line 8, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    h3.date {
        text-align: center;
    }

    /* line 9, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    #daily {
        padding-left: 5px;
        padding-right: 5px;
    }

    /* line 13, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    footer {
        padding: 15px 0;
    }

    /* line 15, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .post.detail .view-original {
        display: inline-block;
    }

    /* line 19, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .share-help {
        padding: 10px;
        left: 0;
        right: 0;
        top: 0;
        background: #FFF;
        z-index: 9999;
        display: none;
    }
    /* line 28, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .share-help .help-title {
        line-height: 30px;
    }

    /* line 30, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .share-help a span {
        padding-right: 10px;
        padding-left: 2px;
    }

    /* line 34, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .share-help a {
        width: calc(50% - 4px);
        font-size: 16px;
        color: #6B6F73;
    }

    /* line 39, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .share-help a img {
        width: 26px;
        vertical-align: middle;
        position: relative;
    }

    /* line 45, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .weixin-qrcode-dropdown {
        display: none;
    }

    /* line 47, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .post .user-info .info {
        display: none !important;
    }


    /* line 55, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    footer .qrcode {
        display: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    /* line 59, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    #quick-download {
        display: block;
    }

    /* line 60, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .post .user-info .info {
        display: none !important;
    }

    /* line 61, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    footer .qrcode {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* line 65, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .post .user-info .info {
        display: none !important;
    }

    /* line 66, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    footer .qrcode {
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    /* line 70, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .container {
        width: 800px;
    }

    /* line 71, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    footer .qrcode {
        display: block;
        width: 100px;
    }
}
@media (min-width: 1024px) {
    /* line 75, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    .container {
        width: 800px;
    }

    /* line 76, /var/www/prod/v2.toutiao.io/app/assets/stylesheets/responsive.scss */
    footer .qrcode {
        display: block;
        max-width: 124px;
    }
}

/*赞成and反对*/
.votebar {
    float: left;
    margin-right: 18px;
    margin-top: 5px;
}
.votebar.keep-top{
    position: fixed;
    top: 60px;
}
.votebar .up,
.votebar .down {
    background: #eff6fa;
    border: none;
    border-radius: 3px;
    color: #25bb9b;
    cursor: pointer;
    display: block;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 38px;
    outline: none;
}
.votebar .up {
    height: 44px;
}
.votebar .label {
    display: block;
    text-indent: -9999em;
}
.votebar .count {
    left: 0;
    position: absolute;
    top: 18px;
    top: 10px\9;
    *top: 18px;
    width: 100%;
    /*line-height: 22px;*/
    display: block;
}
.votebar .vote-arrow {
    display: inline-block;
    border: 6px solid transparent;
    font-size: 0;
    height: 0;
    width: 0;
}
.votebar .up .vote-arrow {
    border-bottom-color: #25bb9b;
    border-top-style: solid;
    border-top-width: 0;
    margin-bottom: 10px;
}
.votebar .up:hover .vote-arrow,
.votebar .up.pressed .vote-arrow {
    border-bottom-color: #FFF;
}
.votebar .down .vote-arrow {
    border-bottom-width: 0;
    border-top-color: #25bb9b;
}
.votebar .down:hover .vote-arrow,
.votebar .down.pressed .vote-arrow {
    border-top-color: #fff;
}
.votebar .up:hover,
.votebar .down:hover,
.votebar .up.pressed,
.votebar .down.pressed {
    background: #25bb9b;
    color: #fff;
}
.votebar .down {
    margin: 5px 0 0;
}
.votebar .rcmd-label {
    color: #fff;
    background: #E54E38;
    padding: 2px 5px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.letter-list {
    margin: -10px -20px 0;
}
.letter-list li {
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 10px;
    overflow: hidden;
    margin: 0 10px;
    position: relative;
}
.letter-link {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.letter-list li:hover {
    background: #ECF0F1;
    cursor: pointer;
}

.letter-info {
    float: right;
    text-align: right;
    color: #999;
    font-size: 12px;

}
.letter-info p {
    line-height: 2;
}
.letter-info a{
    color: #21a88b;
}
.letter-info a:hover {
    color: #25bb9b;
}
.letter-detail {
    float: left;
    font-size: 14px;
    line-height: 1em;
    width: 320px;
}
.letter-detail .letter-name {
    position: absolute;
    left: 80px;
    top: 20px;
    z-index: 2;
    color: #CCC;
    display: inline-block;
    /*display: block;*/

}
.letter-brief {
    position: absolute;
    left: 80px;
    top: 50px;
    z-index: 2;
    color: #666;
    float: left;
    font-size: 14px;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*for ie8不变省略号问题*/
    word-wrap:normal;
}
.msg-num {
    position: absolute;
    top: 0;
    left: 0;
    background: #e84a4a;
    color: #FFF;
    border-radius: 50px;
    line-height: 16px;
    min-height: 16px;
    outline: medium none;
    padding: 0 4px;
    text-align: center;
    z-index: 10;
}
.chat-headbox {
    position: relative;
    float: left;
    z-index: 2;
}
.list-head {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px solid #ededed;
    border-radius: 50px;
}
.l-operate-bar {
    white-space: nowrap;
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 12px;
    z-index: 2;
}
.l-operate-bar a {
    color: #21a88b;
}
.l-operate-bar a:hover {
    color: #25bb9b;
}
.follow-list .l-operate-bar a,
.follow-list .l-operate-bar a:hover {
    color: #FFF;
}

.l-time {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 2;
    white-space: nowrap;
    font-size: 12px;
}
.letter-chatlist {
    padding: 20px;
}
.letter-chatlist li {
    margin-bottom: 40px;
    overflow: hidden;
    list-style: none;
}
.letter-chat {
    background: #ECF1F1;
    width: 600px;
    max-width: 100%;
    padding: 20px 25px;
    text-align: left;
    color: #666;
}
.letter-chatlist .list-head {
    margin: 20px 20px 0 0;
}

.letter-chat .sns-action-reply{
    visibility: hidden;
    _visibility: visible;
}
.letter-chat:hover .sns-action-reply{
    visibility: visible;
}
.letter-chatlist .tooltip {
    position: relative;
    float: left;

}
.letter-chatlist .my-reply .tooltip.right,
.letter-chatlist .tooltip.right {
    padding: 0;
    margin: 0;
}
.letter-chatlist .tooltip.right .tooltip-arrow {
    border-right-color: #ECF1F1;
    left: -9px;
    margin-top: -30px;
}

.letter-chat .chat-content {
    width: 300px;
    line-height: 1.6;
    font-size: 14px;
}
.chat-content a {
    color: #25bb9b;
}
.chat-content img{
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    cursor: url(http://static.zhihu.com/static/img/zoom-in.cur);
}

.letter-chat .letter-info {
    width: 120px;
}
.tooltip {
    position: absolute;
    display: block;
    line-height: 1.4;
    visibility: visible;
    font-size: 14px;
    z-index: 99;
}
.letter-chatlist .my-reply .tooltip.right, .letter-chatlist .tooltip.right {
    padding: 0;
    margin: 0;
}
.letter-chatlist .tooltip {
    position: relative;
    float: left;
}
.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}
.letter-chatlist .tooltip.right .tooltip-arrow {
    border-right-color: #ECF1F1;
    left: -9px;
    margin-top: -30px;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #34495e;
    border-width: 9px 9px 9px 0;
    margin-top: -9px;
    left: -4px;
    top: 50%;
}
.tooltip-arrow, .tooltip-arrow i {
    position: absolute;
    width: 0;
    height: 0;
    border: 9px solid transparent;
}

.masklayer {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

/* styles/common/component/popup-wrap.css */
.layer-container {
    position:absolute;
    overflow:auto;
    top:0;
    left:0;
    z-index: 100;
    overflow: hidden;
}
.layer-container-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.layer-container-content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}
/*弹窗框架样式*/
.pop-box {
    /*border-radius: 10px;*/
    border-radius: 4px;
    background: #FFF;
    /*position: absolute;
    z-index: 201;*/
}
.pop-title {
    padding: 15px 20px;
    overflow: hidden;
    background: #f0f0f0;
    border-radius: 4px 4px 0 0;

}
.pop-title h1 {
    margin: 0;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}
.pop-title h1:before {
    background: #FF6547;
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    margin-bottom: 2px;
    vertical-align: middle;
}
.pop-title-link {
    float: right;
    font-size: 16px;
    color: #1abc9c;
}
.pop-close {
    display: block;
    text-indent: -9999em;
    outline: none;
    float: right;
    width: 12px;
    height: 12px;
    margin-top: 4px;
    background: url(../images/img/pop-close.png) no-repeat;
}
.pop-content {
    padding: 20px;
}
.pop-text-box {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
}
.pop-text-box p {
    margin-top: 5px;
    margin-bottom: 5px;
}
/*弹窗内容大间距*/
.pop-padding-lg {
    padding: 20px 50px;
}
.pop-tip {
    font-size: 14px;
    margin-bottom: 10px;
}
.pop-bigbtn {
    padding: 10px 45px;
    font-size: 16px;
}
.pop-msg-tip {
    font-size: 16px;
    padding: 30px;
}
.pop-msg-tip .fui-cross {
    color: #FFF;
    background: #ff6547;
    border-radius: 20px;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
    margin-right: 10px;
}
.pop-footer{
    padding: 15px 20px;
    overflow: hidden;
    background: #f0f0f0;
    border-radius: 0 0 4px 4px;
}

.pop-box {
    position: absolute;
    z-index: 1000;
}
/*弹窗框架样式结束*/
.input-section .control-label {
    padding: 0 15px;
    font-size: 14px;
    float: left;
    width: 125px;
    line-height: 42px;
    height: 42px;
    text-align: right;
    margin-bottom: 0;
}
.form-group:after, .form-group:before {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.input-section .control-group {
    line-height: 42px;
    height: 42px;
}
.form-group .control-group {
    float: left;
}
.control-group input {
    height: 34px;
    line-height: 34px;
}
.control-group {
    position: relative;
    width: 260px;
}
.control-group > .input-icon {
    position: absolute;
    top: 9px;
    right: -20px;
    vertical-align: middle;
    font-size: 20px;
    background: #FFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 20px;
    display: none;
}
/* 错误提示icon */
.input-icon.icon-remove-sign {
    color: #ff5400;
}
/* 成功提示icon */
.input-icon.icon-ok-sign {
    color: #25bb9b;
    display: none;
}
/* 提示icon及提示文案显示 */
.error .icon-remove-sign,
.success .icon-ok-sign,
.error .input-tip,
.focus .input-tip {
    display: block;
}
/* 提示文案默认隐藏 */
.input-tip {
    position: absolute;
    left: 0;
    bottom: -16px;
    display: none;
    font-size: 14px;
    line-height: 14px;
}
/* 错误提示文案 */
.error .input-tip {
    color: #ff5400;
}
/*输入框*/
textarea,
.input-section input[type="text"],
.input-section input[type="password"],
.input-section input[type="email"],
.uneditable-input {
    border: 1px solid #d4d4d4;
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 8px 5px;
    width: 250px;
    border-radius: 3px;
    outline: none;
}
.control-group.focus textarea,
.control-group.focus input[type="text"],
.control-group.focus input[type="password"],
.control-group.focus input[type="email"],
.control-group.focus .uneditable-input,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {
    border-color: #909090;
}
input[type="text"].error-tips,
textarea.error-tips,
.control-group.error textarea,
.control-group.error input[type="text"],
.control-group.error input[type="password"],
.control-group.error input[type="email"],
.control-group.error .uneditable-input {
    border-color: #e74c3c;
    color: #e74c3c;
}
.control-group.success textarea,
.control-group.success input[type="text"],
.control-group.success input[type="password"],
.control-group.success input[type="email"],
.control-group.success .uneditable-input {
    border-color: #2ecc71;
    color: #2ecc71;
}
input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
    background-color: #e3e3e3;
    border-color: #e3e3e3;
    color: #999999;
    cursor: default;
}
.col-input-login {
    text-align: center;
}
.col-input-login .btn {
    width: 115px;
}
.col-input-login .btn + .btn {
    margin-left: 10px;
}
.pop-content .about-pwd {
    margin: 0 0 10px 125px;
}
.alert-info {
    background: #dff1ed;
    border-color: #cbede5;
}
.letter-pic-box {
    float: left;
    margin: 0 5px 5px 0;
    position: relative;
    width: 80px;
    height: 80px;
}
.letter-pic-box img {
    width: 80px;
    position: relative;
    z-index: 1;
}
.letter-pic-box:hover {
    cursor: pointer;
}
.letter-pic-box:hover .mask {
    display: block;
}
.letter-pic-box:hover .icon-remove-circle {
    display: block;
}
.letter-pic-box .icon-remove-circle {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    font-size: 20px;
    z-index: 4;
    -webkit-font-smoothing: antialiased;
}
.btn-upload {
    margin-top: 47px;
    margin-left: 0;
}
/* popup-wrap end */