<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" media="all" href="/css/msg.css">
</head>
<body>
<!--<head th:replace="~{fragments/header :: header}"></head>-->

<div id="main">
    <div class="container">
        <ul class="letter-chatlist " th:each="msg : ${messages}">
            <li id="msg-item-4009580">
                <a class="list-head" th:href="'/user/'+${msg.get('user').getId()}">
                    <img width="100%" alt="头像" th:src="${msg.get('headUrl')}">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time" th:text="${#dates.format(msg.get('message').getCreatedDate(),'yyyy-MM-dd HH:mm:ss')}"></p>
                            <a href="/msg/delMessage/" th:href="'/msg/delMessage/?msgId='+${msg.get('message').getId()} + '&conversationId=' + ${conversationId}" id="del-link" name="4009580">删除</a>
                        </div>
                        <p class="chat-content" th:text="${msg.get('message').getContent()}">
                            $!{msg.message.content}
                        </p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>

<!--<footer th:replace="footer :: footer"></footer>-->
</body>
</html>